---
---
    
@import "bootstrap";

img { margin-bottom: 24px; 
     margin-top: 17px; 
    border-radius:2%;
}

.publication{
	border: 2px;
	border-bottom: 1px solid #ddd;
}

.bibtext{
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}

.noshow { display: none; }

body {
	padding-top: 70px;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}

.authors{
	font-style: italic;
}

.paper-title{
	font-weight: bold;
}


/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}
.responsive {
	width: 100px;
	height: auto;
  }
.person-name {
	margin: 0;
	color: #81002e;
	text-align: left; 
	margin-top: 10px;
}

.slider_img {
    height:300px !important;
    width:auto ;/*maintain aspect ratio*/
	max-width:60% !important;
}

.sapienza-bg{
	background-color: #81002e;
}

.white_text{
	color: white;
	
}
.sapienza-text{
	color: #81002e;
	font-family:'Georgia';
}
pubtit {
	font-weight: bold;
}

firstp {
}
.h1{
	color: yellow;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
	
}

.icons{
	width: 22px;
	box-shadow: none !important;
	float: left; 
	border: 0px;
	margin: 0px;
	padding: 0px;
	display:table-cell;
    line-height: 0; /* Here is the solution */
}

/* Team & Publications */
#gridid img { margin: 0px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 20px;
	padding-right: 0px;


}

@media screen and (min-width: 800px) {
	.container {
	  margin: 1em 2em;
	}
  }


/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}

.col-sm-5{
	width:44%;
}


/* Carusel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

